.App {
  text-align: center;
  padding: 40px 0;
  /* font-family: "Poppins", sans-serif !important; */
}

.nationalid__form,
.userInfo {
  background-color: #f8f9fa;
  padding: 40px 40px 60px;
  width: 60%;
  margin: 60px auto;
  border-radius: 15px;
}

.form__control {
  position: relative;
}

.form__label {
  margin-bottom: 35px;
}

.mt-50 {
  margin-top: 50px !important;
}

.mb-40 {
  margin-bottom: 40px !important;
}
.fileContainer {
  overflow: hidden;
  background-color: #6c757d;
  padding: 20px;
  border-radius: 15px;
  color: #fff;
}

.fileContainer [type="file"] {
  display: block;
  filter: alpha(opacity=0);
  position: absolute;
  right: 18%;
  text-align: right;
  top: 0px;
  cursor: pointer;
  color: #000;
}

.fileContainer [type="file"]::-webkit-file-upload-button {
  visibility: hidden;
}

.userInfo span {
  color: #3f51b5;
  font-weight: 700;
  margin-right: 10px;
}

.userInfo p {
  display: inline-block;
}

.userInfo__row {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 20px;
}

.button--center {
  display: block !important;
  margin: 20px auto !important;
  width: 150px;
}
